.items-detail-container{
    position: absolute;
    background-color: lightgrey;
    height:500px;
    width:500px;
    border-radius: 10px;
    z-index: 100;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.close{
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    left: 450px;
    z-index: 101;
    cursor: pointer;
}