:root {
    --primary    : #664B3A;
    --background : #E6A52E;
    --emphasis   : #EAEBEC;
}


.navbar {
    height           : 3rem;
    background-color : var(--background);
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
}

.navbar img {
    width         : 2rem;
    height        : 2rem;
    margin-inline : 1rem;
    padding       : .25rem;
    border        : 1px solid var(--primary);
    border-radius : 50%;
    box-sizing    : border-box;
}

.navbar .logo {
    border  : none;
    padding : 0;
}

.navbar ul {
    display : flex;
    gap     : 1rem;
}

.navbar li {
    font-weight : bold;
    display     : inline-block;
}

.navbar a {
    color           : var(--primary);
    text-decoration : none;
}